
$primary: rgb(237, 92, 121);
$gray1: rgb(225, 224, 225);
$gray2: rgb(198, 197, 198);
$gray3: rgb(171, 170, 171);
$offblack: rgb(9, 7, 9);
$gray4: rgb(144, 143, 144);
$gray5: rgb(117, 115, 117);
$gray6: rgb(90, 88, 90);
$secondary: rgb(242, 231, 169);
$gray7: rgb(63, 61, 63);
$gray8: rgb(36, 34, 36);
$offwhite: rgb(252, 252, 252);
$size-0: 45.79px;
$size-1: 36.63px;
$size-2: 29.3px;
$size-3: 23.44px;
$size-4: 18.75px;
$size-paragraph: 15px;
$size-fineprint: 12px;
$font-default: 'museo-sans-rounded', sans-serif;
$font-code: 'Fira Code', monospace;
$weight-bold: 700;
$weight-normal: 300;
$style-italic: italic;
$style-bold: bold;
$opacity-disabled: 0.5;
$chip-height: 29px;
$height-header: 39px;
$card-min-width: 20px;
$card-min-height: 20px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-m: (min-width: 768px);
$shadow-light: 0 0 12px rgba(9, 7, 9, .27);
$shadow-dark: 0 0 12px rgba(255, 255, 255, .4);
$small-shadow-light: 0 3px 6px rgba(9, 7, 9, .27);
$small-shadow-dark: 0 3px 6px rgba(255, 255, 255, .4);
$spacing-m: 0;
$radius-xs: 3px;
$radius-s: 5px;
$radius-m: 11px;
$radius-l: 29px;
$radius-circle: 50%;
$radius-force-circle: 1234567px;
$space-indent: 16px;
$space-header: 39px;
$icon-size: 17px;
$icon-padding: 6.5px;
$space-l: 6px;
$space-xs: 1px;
$space-m: 4px;
$safespace: 57px;
$space-s: 2px;
$line-height-default: 1.2;
